# Web e API
fastapi>=0.103.0
uvicorn>=0.23.2
streamlit>=1.26.0

# Banco de Dados
SQLAlchemy>=2.0.20
psycopg2-binary>=2.9.7

# Data Science e ETL
pandas>=2.1.0
requests>=2.31.0
python-dotenv>=1.0.0

# LLM e Vector DB
langchain>=0.1.0
langchain-google-genai>=0.0.5
chromadb>=0.4.10
google-generativeai>=0.3.0
openai>=0.28.0

# Testes
pytest>=7.4.2
